@import ./../../node_modules/bootstrap/scss/bootstrap

@import ./partials/variables
@import ./partials/footer
@import ./partials/header
@import ./partials/card

.main-body
  background-color: $gray-900
  
  .container-fluid
    .main-title
      text-align: center
      padding-top: 6rem

.container-fluid
  color: $white

  .single-item-title
    padding-top: 5rem
    color: $white
    justify-content: center